header a:hover {
    color: #271ba7;
    font-weight: bold;
}

button:hover {
    color: #458FF6;
    background-color: white;
    border: #458FF6 solid;
}

.firstPage button:hover {
    color: #eb96d4;
    border-color: #eb96d4;
    animation: pulse 0.8s infinite;
}

@keyframes pulse {
   40% {
    transform: scale(110%, 110%);
   }

   60% {
    transform: scale(100%, 100%);
   }

   80% {
    transform: scale(110%, 110%);
   }

   100% {
    transform: scale(100%, 100%);
   }
}
